#============= hi110x_daemon ==============
allow hi110x_daemon dnsproxyd_socket:sock_file write;
allow hi110x_daemon fwmarkd_socket:sock_file write;
allow hi110x_daemon logcat_data_file:dir search;
allow hi110x_daemon netd:unix_stream_socket connectto;
allow hi110x_daemon port:tcp_socket name_connect;
allow hi110x_daemon self:netlink_socket read;
allow hi110x_daemon self:tcp_socket { connect create getattr getopt read setopt write };
allow hi110x_daemon self:udp_socket { create ioctl };
allow hi110x_daemon system_data_file:dir { add_name remove_name write };
allow hi110x_daemon system_data_file:file { append create open rename unlink write };
